{% extends "finder/base.html" %}
{% block content %}
{% load static %}
<div class="tm-home-img-container">
    <img src="{% static 'finder/homepg.png' %}" class="img-fluid">
</div>
<br>  
  {% load socialaccount %}
  <html>
    <body>
    {% if user.is_authenticated %}
      {% if user.profile.major == "" %}
      <div>
        <h1>To get started, update your profile.</h1>
        <a href="/finder/profile/edit"><button style="color:black;" class="btn btn-outline-info">Edit Profile</button></a>
        <br>
      </div>
      {% else %}
      <br>
      <h1>Already Logged in</h1><br>  
      <h5>Welcome, {{ user.profile.name }}!</h5>
      {% endif %}
    {% else %}
      <div style="text-align:center;">
      <h1>Please Login.</h1>
      <h5>Please Login to use VSBFinder.</h5><br>
      </div>
      <p><br></p><br>
      <p><br></p><br>
      <p><br></p><br>
    {% endif %}

    </body>
  </html>
{% endblock content %}