<!-- 
*  REFERENCES
*  Title: Python Django Tutorial: Full-Featured Web App Part 8 - User Profile and Picture
*  Author: Corey Schafer
*  Date: 2/18/19
*  URL_1: https://www.youtube.com/watch?v=FdVuKt_iuSI&t
*  URL_2: https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog
*  Software License: MIT
-->

{% extends "finder/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
  <h1 style="color:#232D4B; padding-bottom: 20px">Profile Page</h1>
    <div class="content-section">
        <div class="media">
          <div style="width:20%; float:left">
            {% if user.profile.image.url %}
            <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
            {% else %}
            <img class="rounded-circle account-img" src="{% static 'finder/default.jpg' %}">
            {% endif %}
          </div>
          <div style="width:80%; float:right">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary"><b>Name: </b>{{user.profile.name}}</p>
            <p class="text-secondary"><b>Email: </b>{{user.email}}</p>
            <p class="text-secondary"><b>Gender: </b>{{user.profile.gender}}</p>
            <p class="text-secondary"><b>Age: </b>{{user.profile.age}}</p>
            <p class="text-secondary"><b>Phone Number: </b>{{user.profile.phone}}</p>
            <p class="text-secondary"><b>Graduation Year: </b>{{user.profile.graduation}}</p>
            <p class="text-secondary"><b>Major: </b>{{user.profile.major}}</p>
            <p class="text-secondary"><b>Minor: </b>{{user.profile.minor}}</p>
            <a href="/finder/profile/edit"><button style="color:black;" class="btn btn-outline-info">Edit Profile</button></a>
          </div>
        </div>
    </div>
  {% else %}
  <div class="tm-home-img-container">
    <img src="{% static 'finder/homepg.png' %}" class="img-fluid">
  </div>
  <br>
  <div style="text-align:center;">
  <h1>Please Login.</h1>
  <h5>Please Login to use VSBFinder.</h5><br>
  </div>
  <p><br></p><br>
  <p><br></p><br>
  <p><br></p><br>
  {% endif %}
{% endblock content %}