{% extends "finder/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
  <h1 style="padding-bottom: 20px">Profile Page</h1>
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
          <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary"><b>Name: </b>{{user.profile.name}}</p>
            <p class="text-secondary"><b>Email: </b>{{user.email}}</p>
            <p class="text-secondary"><b>Gender: </b>{{user.profile.gender}}</p>
            <p class="text-secondary"><b>Age: </b>{{user.profile.age}}</p>
            <p class="text-secondary"><b>Phone Number: </b>{{user.profile.phone}}</p>
            <p class="text-secondary"><b>Graduation Year: </b>{{user.profile.graduation}}</p>
            <p class="text-secondary"><b>Major: </b>{{user.profile.major}}</p>
            <p class="text-secondary"><b>Minor: </b>{{user.profile.minor}}</p>
            <p class="text-secondary"><b>Zoom Link: <a href="{{user.profile.zoom_link}}" class="text-secondary"></b>{{user.profile.zoom_link}}</a></p>
          </div>
        </div>
        <a class="nav-item nav-link" href="/finder/profile/edit">Edit Profile</a>
    </div>
  {% else %}
    <h1>Login Screen</h1>
    <p>Please login to access the profile page.</p>
    <a href="{% provider_login_url 'google' %}"><img src="{% static 'finder/signgoogle.png' %}"> </a>
  {% endif %}
{% endblock content %}